<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Mobile header color for Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#ff4970" />
        <!-- Mobile header color Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#ff4970" />
        <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-151608031-1"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "UA-151608031-1");
        </script>
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans:300,400,600"
            rel="stylesheet"
        />
        <!-- Include Leaflet -->
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
        <link
            href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
            rel="stylesheet"
        />
        <!-- Include CARTO.js -->
        <script src="https://libs.cartocdn.com/carto.js/v4.1.11/carto.min.js"></script>
        <link
            href="https://carto.com/developers/carto-js/examples/maps/public/style.css"
            rel="stylesheet"
        />
        <!-- Primary Meta Tags -->
        <title>
            Billige boliger - For dig der hader at pendle langt
        </title>
        <meta
            name="description"
            content="Billige-boliger.nu hjælper dig med at finde et sted at bo med kort pendlertid Det er nemt, hurtigt og intuitivt!"
        />
    </head>

    <body>
        <header>
            <a class="logo" href="/">
                <span class="logo">
                    bb
                </span>
                <span>billige-boliger.nu</span>
            </a>
        </header>
        <main>
            <section class="intro">
                <h1>For dig der <strong>hader at pendle langt</strong></h1>
                <h2>
                    Billige-boliger.nu hjælper dig med at
                    <strong>finde et sted at bo</strong> med
                    <strong>kort pendlertid</strong>
                </h2>
            </section>

            <section class="selector">
                <div class="autocomplete-container">
                    <input
                        name="adress"
                        type="search"
                        id="dawa-autocomplete-input"
                        placeholder="Hvor pendler du fra?"
                        required
                    />
                    <!-- Suggestions will appear here -->
                </div>
                <button>Se pendlerkort</button>
            </section>

            <section class="points-map">
                <div class="map-activate hidden">
                    <span class="scroll-page active">Scrolle på siden</span>
                    <input type="checkbox" id="toggle" class="checkbox" />
                    <label for="toggle" class="switch"></label>
                    <span class="scroll-map">Scrolle på kortet</span>
                </div>
                <div class="map-container">
                    <div class="loading-overlay"></div>
                    <span class="loading-text">Henter dit pendlerkort...</span>
                    <div id="map"></div>
                    <div class="legend">
                        <ul>
                            <li>Område man kan pendle til</li>
                        </ul>
                    </div>
                    <div class="legend house-sales hidden">
                        <p>Gennemsnits boligpriser</p>
                        <ul>
                            <li>
                                <span>0</span> - <span>1,5</span>
                                millioner
                            </li>
                            <li>
                                <span>1,5</span> - <span>3,0</span>
                                millioner
                            </li>
                            <li>
                                <span>3,0</span> - <span>4,5</span>
                                millioner
                            </li>
                            <li>
                                <span>4,5</span> - <span>6,0</span>
                                millioner
                            </li>
                            <li>Mere end <span>6,0</span> millioner</li>
                        </ul>
                    </div>
                </div>

                <div class="slider-container">
                    <p class="commute-slider">
                        <strong>Pendlertid</strong>: Op til
                        <strong><span></span></strong>
                    </p>
                    <div class="slider"></div>

                    <p><strong>Transportmiddel</strong></p>
                    <select name="" id="">
                        <option value="TRANSIT,WALK">Offentlig</option>
                        <option value="CAR">Bil</option>
                        <option value="BICYCLE">Cykel</option>
                        <option value="WALK">På gåben</option>
                    </select>
                    <p><strong>Boligpriser</strong></p>
                    <div class="house-sales-wrapper">
                        <button data-key="on">Vist 🌕</button>
                        <button data-key="off" class="active">Skjult 🌑</button>
                    </div>
                    <button class="update-map">Opdater kort</button>
                </div>
            </section>

            <section>
                <h2>Detaljer</h2>
                <p>
                    De blå områder viser
                    <strong
                        >hvor langt man kan pendle fra det valgte
                        udgangspunktet</strong
                    >
                    med afgang kl 8 om morgenen
                </p>
                <p>
                    💡🕵️ Hvis du vil finde
                    <strong>områder med billige boliger</strong> så kig efter
                    <strong>hvor de lysere røde og de blå områder</strong>
                    overlapper.
                    <a target="_blank" href="/assets/cheap-houses-example.jpg"
                        >Se hvad du skal kigge efter</a
                    >
                </p>
                <p>
                    Boligpriserne er baseret på
                    <strong>huse solgt i 2017, 2018 og 2019</strong>.
                </p>
                <br />
            </section>

            <!-- <section class="notification">
                <h2>Dit eget interaktive kort</h2>
                <p>
                    Kan du bruge et
                    <strong>kort som det ovenstående</strong>, men med
                    <strong>et sted du pendler til</strong>, så skriv din mail
                    og adressen på stedet du pendler til, så får du en email med
                    et link til dit interaktive kort. Se
                    <a
                        href="/brennum-park-1-3400-hillerod"
                        target="_blank"
                        rel="noopener noreferrer"
                        >et eksempel</a
                    >
                    med <strong>Novo Nordisk i Hillerød</strong> som
                    udgangspunkt
                </p>

                <form
                    action=" https://formsubmit.co/benjamin.dals.hughes@gmail.com "
                    method="POST"
                >
                    <input
                        type="email"
                        name="email"
                        placeholder="Skriv din email"
                        required
                    />
                    <input
                        type="text"
                        name="adress"
                        placeholder="Skriv pendleradressen"
                        required
                    />
                    <input
                        type="hidden"
                        name="_next"
                        value="https://billige-boliger.nu/form-submit"
                    />
                    <input
                        type="hidden"
                        name="_subject"
                        value="New submission!"
                    />
                    <input type="hidden" name="_captcha" value="false" />
                    <input type="text" name="_honey" style="display:none" />
                    <button type="submit">Få tilsendt kort</button>
                </form>
            </section> -->

            <!-- <section class="donate">
                <div class="donate-wrapper">
                    <p>
                        Det her er noget jeg har bygget fordi jeg tænker at det
                        ville være
                        <strong
                            >brugbart for andre i samme situation som
                            mig</strong
                        >. Jeg har <strong>brugt en del tid på det</strong>. Så
                        hvis du gerne vil smide en skilling efter mig ville det
                        være super værdsat 😃👍
                    </p>

                    <style>
                        .bmc-button img {
                            width: 35px !important;
                            margin-bottom: 1px !important;
                            box-shadow: none !important;
                            border: none !important;
                            vertical-align: middle !important;
                        }
                        .bmc-button {
                            padding: 7px 10px 7px 10px !important;
                            line-height: 35px !important;
                            height: 51px !important;
                            min-width: 217px !important;
                            text-decoration: none !important;
                            display: inline-flex !important;
                            color: #ffffff !important;
                            background-color: #ff813f !important;
                            border-radius: 5px !important;
                            border: 1px solid transparent !important;
                            padding: 7px 10px 7px 10px !important;
                            font-size: 20px !important;
                            letter-spacing: -0.08px !important;
                            box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
                            -webkit-box-shadow: 0px 1px 2px 2px
                                rgba(190, 190, 190, 0.5) !important;
                            margin: 0 auto !important;
                            font-family: "Lato", sans-serif !important;
                            -webkit-box-sizing: border-box !important;
                            box-sizing: border-box !important;
                            -o-transition: 0.3s all linear !important;
                            -webkit-transition: 0.3s all linear !important;
                            -moz-transition: 0.3s all linear !important;
                            -ms-transition: 0.3s all linear !important;
                            transition: 0.3s all linear !important;
                        }
                        .bmc-button:hover,
                        .bmc-button:active,
                        .bmc-button:focus {
                            -webkit-box-shadow: 0px 1px 2px 2px
                                rgba(190, 190, 190, 0.5) !important;
                            text-decoration: none !important;
                            box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                            opacity: 0.85 !important;
                            color: #ffffff !important;
                        }</style
                    ><link
                        href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext"
                        rel="stylesheet"
                    /><a
                        class="bmc-button"
                        target="_blank"
                        href="https://www.buymeacoffee.com/EPjnsvp"
                        ><img
                            src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg"
                            alt="Buy me a coffee"
                        /><span
                            style="margin-left:15px;font-size:19px !important;"
                            >Buy me a coffee</span
                        ></a
                    >
                </div>
            </section> -->
        </main>
        <footer>
            <p>
                Lavet af
                <a href="https://twitter.com/dalshughes" target="_blank"
                    >Benjamin Hughes</a
                >
            </p>
            <p>
                Kontakt mig på
                <a href="mailto:benjamin.dals.hughes@gmail.com"
                    >benjamin.dals.hughes@gmail.com</a
                >
            </p>
        </footer>
    </body>
</html>
