@import "../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";

body {
    font-family: sans-serif;
    color: #1d2d35;
    font-family: "Montserrat", sans-serif;
    position: relative;
    padding-bottom: 140px;
    min-height: 100vh;
}

header {
    margin: 0 auto;
    // max-width: 800px;
    padding: 12px 12px 12px;
    border-bottom: 2px solid #ebebeb;

    span.logo {
        margin-right: 6px;
        padding: 5px 8px 5px 8px;
        background-color: black;
        color: white;
        display: inline-block;
    }

    a {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 24px;
        text-decoration: none;
        color: #1d2d35;
    }
}

main {
    padding: 0px 12px 36px;
    margin: 0 auto;
    max-width: 800px;

    > span {
        margin-bottom: 12px;
    }

    section.intro {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 50vh;
        justify-content: center;
        align-items: center;

        h1 {
            margin-bottom: 12px;
        }
    }
}

h1,
h2 {
    color: #1d2d35;
}

h1 {
    // font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;

    @media screen and (min-width: 500px) {
        margin-top: 36px;
    }
}

h2 {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 36px;
    margin-top: 12px;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 12px;
}

span,
p {
    line-height: 1.7rem;
}

.house-sales span {
    line-height: 1rem;
}

p {
    margin-bottom: 12px;
}

img {
    width: 100%;
    margin-bottom: 12px;
}

strong.highlight {
    color: white;
    background-color: black;
    padding: 4px 2px;
}

section.selector {
    @media screen and (min-width: 500px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
        align-items: center;

        > :nth-child(1),
        > :nth-child(3) {
            width: calc(50% - 40px);
        }

        > :nth-child(2) {
            align-self: center;
        }
    }

    > span {
        text-align: center;
        display: block;
        height: 50px;
        line-height: 50px;
    }
}

.map-activate {
    &.hidden {
        display: none;
    }

    span {
        font-size: 0.9rem;
        color: lightgrey;

        &.active {
            color: #1d2d35;
        }
    }

    .switch {
        margin-bottom: -5px;
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        transition: all 0.3s;
    }
    .switch::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: white;
        top: 1px;
        left: 1px;
        transition: all 0.3s;
    }

    .checkbox:checked + .switch::after {
        left: 20px;
    }
    .checkbox:checked + .switch {
        background-color: #7983ff;
    }
    .checkbox {
        display: none;
    }
}

.select-city {
    margin-bottom: 36px;

    p {
        text-align: center;
    }

    > .wrapper {
        margin: 0 auto;

        select {
            display: block;
            font-size: 16px;
            font-family: sans-serif;
            font-weight: 700;
            color: #444;
            line-height: 1.3;
            padding: 0.6em 1.4em 0.5em 0.8em;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            margin: 0;
            margin-right: 12px;
            border: 1px solid #aaa;
            box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
            border-radius: 0.5em;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
                linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
            background-repeat: no-repeat, repeat;
            background-position: right 0.7em top 50%, 0 0;
            background-size: 0.65em auto, 100%;
            margin-bottom: 12px;
        }
        select::-ms-expand {
            display: none;
        }
        select:hover {
            border-color: #888;
        }
        select:focus {
            border-color: #aaa;
            box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
            box-shadow: 0 0 0 3px -moz-mac-focusring;
            color: #222;
            outline: none;
        }
        select option {
            font-weight: normal;
        }

        button {
            z-index: 100;
            border: none;
            box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
                0 1px 3px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.025em;
            color: #fff;
            transition: all 0.15s ease;
            text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
            outline: none;
            cursor: pointer;
            line-height: 1.5rem;
            transition: opacity 0.3s;
            background: #3fb8af;
            width: 100%;
            padding: 0.6em 1.4em 0.5em 0.8em;

            &:hover {
                box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
                    0 3px 6px rgba(0, 0, 0, 0.08);
                transform: translateY(-1px);
            }

            &:active {
                transform: translateY(1px);
                box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
                    0 3px 7px -3px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.slider-container {
    margin-top: 12px;
    margin-bottom: 12px;

    p {
        margin-bottom: 4px;
    }

    p.commute-slider {
        margin-bottom: 12px;
    }

    @media screen and (min-width: 450px) {
        position: absolute;
        bottom: 6px;
        right: 12px;
        z-index: 1000;
        background-color: white;
        border-radius: 8px;
        padding: 8px 8px 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
        width: 310px;
    }

    .slider {
        max-width: 450px;
        margin-bottom: 18px;
    }

    .transportation-wrapper,
    .house-sales-wrapper {
        display: flex;
        justify-content: space-around;
        margin-bottom: 12px;

        button {
            width: 100%;
            display: block;
            background-color: transparent;
            border: 1px lightgrey solid;
            padding: 6px 8px;
            border-radius: 4px;

            &:nth-child(1) {
                margin-right: 8px;
            }

            &.active {
                background-color: lightgrey;
            }
        }
    }
}

.legend {
    z-index: 1000;
    padding: 8px 8px;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: white;

    p {
        margin-top: 0px;
        margin-bottom: 4px;
    }

    ul {
        font-size: 0.9rem;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0 0 4px;
            padding-left: 18px;
            position: relative;

            &:before {
                content: "";
                width: 10px;
                height: 10px;
                position: absolute;
                left: 2px;
                top: 2px;
                border-radius: 100%;
                border: solid 1px grey;
            }
        }
    }
}

.points-map .legend ul li {
    &:nth-child(1)::before {
        background-color: #d0d1e6;
    }
    &:nth-child(2)::before {
        background-color: #a6bddb;
    }
    &:nth-child(3)::before {
        background-color: #74a9cf;
    }
    &:nth-child(4)::before {
        background-color: #2b8cbe;
    }
    &:nth-child(5)::before {
        background-color: #045a8d;
    }
}

.legend.house-sales {
    width: 235px;

    &.hidden {
        display: none;
    }
}

.legend.house-sales ul li {
    &:nth-child(1)::before {
        background-color: #fcbba1;
    }
    &:nth-child(2)::before {
        background-color: #fc9272;
    }
    &:nth-child(3)::before {
        background-color: #fb6a4a;
    }
    &:nth-child(4)::before {
        background-color: #de2d26;
    }
    &:nth-child(5)::before {
        background-color: #a50f15;
    }
    &:nth-child(6) {
        margin-top: 12px;

        &::before {
            background-color: rgb(51, 128, 158);
            border: none;
            width: 7px;
            height: 7px;
            left: 4px;
            top: 4px;
        }
    }
}

.map-container,
.house-sales-container {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

section.points-map,
section.house-sales-map,
section.car-public-difference-map,
.hexbin-map-container {
    position: relative;
    margin-bottom: 36px;
}

.hexbin-map-container {
    margin-top: 8px;
    border-radius: 8px;
    overflow: hidden;
}

#map,
#hexbin-map,
#house-sales {
    height: 70vh;
    position: relative;
}

section.donate {
    margin-top: 36px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .donate-wrapper {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

footer {
    margin-top: 36px;
    background-color: #f5f6f7;
    border-top: solid 1px rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

    p:nth-child(3) {
        margin-bottom: 0px;
    }
}

.custom-map-legend {
    > li {
        position: relative;
        padding-left: 14px;
        margin-bottom: 8px;

        &:before {
            content: "";
            position: absolute;
            left: 1px;
            top: 3px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
        }
        &:nth-child(1):before {
            background-color: #fafa69;
        }
        &:nth-child(2):before {
            background-color: #74a9cf;
        }
    }
}

form {
    // margin-top: 24px;
    input {
        width: 100%;
        background-color: transparent;
        border: 1px lightgrey solid;
        padding: 12px 16px;
        border-radius: 4px;
        margin-bottom: 12px;
    }

    button {
        background-color: #3fb8af;
        border: none;
        color: white;
        width: 100%;
        padding: 12px;
        border-radius: 4px;
        cursor: pointer;
    }
}
