@import "../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";

body {
    font-family: sans-serif;
    padding-top: 24px;
    color: #1d2d35;
    font-family: "Montserrat", sans-serif;
}

main {
    padding: 24px 12px 36px;
    margin: 0 auto;
    max-width: 800px;

    > span {
        margin-bottom: 12px;
    }
}

h1,
h2 {
    color: #1d2d35;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 24px;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 12px;
    margin-top: 12px;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 12px;
}

span,
p {
    line-height: 1.7rem;
}

p {
    margin-bottom: 12px;
}

img {
    width: 100%;
    margin-bottom: 12px;
}

strong.highlight {
    color: white;
    background-color: black;
    padding: 4px 2px;
}

.map-active {
    &.hidden {
        display: none;
    }

    span {
        font-size: 0.9rem;
        color: lightgrey;

        &.active {
            color: #1d2d35;
        }
    }

    .switch {
        margin-bottom: -5px;
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        transition: all 0.3s;
    }
    .switch::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: white;
        top: 1px;
        left: 1px;
        transition: all 0.3s;
    }

    .checkbox:checked + .switch::after {
        left: 20px;
    }
    .checkbox:checked + .switch {
        background-color: #7983ff;
    }
    .checkbox {
        display: none;
    }
}

.select-city {
    margin-bottom: 36px;

    p {
        text-align: center;
    }
    ul {
        display: flex;
        justify-content: space-around;
        margin-bottom: 12px;

        @media screen and (max-width: 450px) {
            flex-direction: column;
        }

        li:nth-child(1),
        li:nth-child(2),
        li:nth-child(3) {
            margin-right: 8px;

            @media screen and (max-width: 450px) {
                margin-right: 0px;
                margin-bottom: 8px;
            }
        }

        li {
            flex-grow: 1;

            button {
                width: 100%;
                background-color: transparent;
                border: 1px lightgrey solid;
                padding: 12px 16px;
                border-radius: 4px;

                &.active {
                    background-color: lightgrey;
                }

                @media screen and (max-width: 450px) {
                    width: 100%;
                }
            }
        }
    }
}

.slider-container {
    margin-top: 12px;
    margin-bottom: 12px;

    p {
        margin-bottom: 4px;
    }

    p.commute-slider {
        margin-bottom: 12px;
    }

    @media screen and (min-width: 450px) {
        position: absolute;
        bottom: 6px;
        right: 12px;
        z-index: 1000;
        background-color: white;
        border-radius: 8px;
        padding: 8px 8px 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
        width: 310px;
    }

    .slider {
        max-width: 450px;
        margin-bottom: 18px;
    }

    .transportation-wrapper,
    .house-sales-wrapper {
        display: flex;
        justify-content: space-around;
        margin-bottom: 12px;

        button {
            width: 100%;
            display: block;
            background-color: transparent;
            border: 1px lightgrey solid;
            padding: 6px 8px;
            border-radius: 4px;

            &:nth-child(1) {
                margin-right: 8px;
            }

            &.active {
                background-color: lightgrey;
            }
        }
    }
}

.legend {
    z-index: 1000;
    padding: 8px 8px;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: white;

    p {
        margin-top: 0px;
        margin-bottom: 4px;
    }

    ul {
        font-size: 0.9rem;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0 0 4px;
            padding-left: 18px;
            position: relative;

            &:before {
                content: "";
                width: 10px;
                height: 10px;
                position: absolute;
                left: 2px;
                top: 2px;
                border-radius: 100%;
                border: solid 1px grey;
            }
        }
    }
}

.points-map .legend ul li {
    &:nth-child(1)::before {
        background-color: #d0d1e6;
    }
    &:nth-child(2)::before {
        background-color: #a6bddb;
    }
    &:nth-child(3)::before {
        background-color: #74a9cf;
    }
    &:nth-child(4)::before {
        background-color: #2b8cbe;
    }
    &:nth-child(5)::before {
        background-color: #045a8d;
    }
}

.legend.house-sales {
    width: 235px;

    &.hidden {
        display: none;
    }
}

.legend.house-sales ul li {
    &:nth-child(1)::before {
        background-color: #fcbba1;
    }
    &:nth-child(2)::before {
        background-color: #fc9272;
    }
    &:nth-child(3)::before {
        background-color: #fb6a4a;
    }
    &:nth-child(4)::before {
        background-color: #de2d26;
    }
    &:nth-child(5)::before {
        background-color: #a50f15;
    }
    &:nth-child(6) {
        margin-top: 12px;

        &::before {
            background-color: rgb(51, 128, 158);
            border: none;
            width: 7px;
            height: 7px;
            left: 4px;
            top: 4px;
        }
    }
}

.points-map-container,
.house-sales-container {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

section.points-map,
section.house-sales-map,
.hexbin-map-container {
    position: relative;
    margin-bottom: 36px;
}

.hexbin-map-container {
    margin-top: 8px;
    border-radius: 8px;
    overflow: hidden;
}

#points-map,
#hexbin-map,
#house-sales {
    height: 70vh;
}

section.donate {
    margin-top: 36px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .donate-wrapper {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

footer {
    margin-top: 36px;
    background-color: #f5f6f7;
    border-top: solid 1px rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px;

    p:nth-child(3) {
        margin-bottom: 0px;
    }
}
